<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8"/>
</head>

<body>
	<h1>Actualizar autor</h1>


    <form action="#" th:action="@{/update}" th:object="${autor}" method="post">
    	
    	<input hidden type="text" th:field="*{id}" />
    	<p>Nombre: <input type="text" th:field="*{nombre}" /></p>
        <p>Edad: <input type="text" th:field="*{edad}" /></p>
        <p>Email: <input type="email" th:field="*{email}" /></p>
        
        <p>
        	<select th:field="*{coche}">
        		<option th:each="cocheOpt:${coches}" th:value="${cocheOpt.id}" th:text="${cocheOpt.marca}"/>
        	</select>
        </p>
        
		<p>
			<textarea  rows="6" cols="20" th:field="*{mensaje}">
    		</textarea>
		</p>
		
		<p>
			<input type="range" name="points" min="0" max="10" th:field="*{rango}"/>
		</p>
		
		<p>
			<input type="checkbox" name="carnet"  th:field="*{carnetConducir}">
		</p>
        
        <p><input type="submit" value="Submit" />
           <input type="reset" value="Reset" /></p>
    </form>


</body>
</html>

